body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #5c3b22;
  color: #fff;
}

header {
  text-align: center;
  padding: 2rem;
  background-color: #3a2618;
}

.menu-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
}

.produto-card {
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding-bottom: 1rem;
}

.produto-card img {
  width: 100%;
  height: auto;
}

.produto-card h2 {
  margin: 0.5rem;
  font-size: 1.5rem;
}

.produto-card p {
  margin: 0.5rem;
  font-size: 1rem;
}

.tamanhos {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

.tamanhos label {
  margin: 0.25rem 0;
}

button {
  background-color: #3a2618;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.5rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2a2618;
}

.voltar-container {
  text-align: center;
  margin: 2rem 0;
}

.voltar-btn {
  background-color: #fff;
  color: #3a2618;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: inline-block;
}

.voltar-btn:hover {
  background-color: #3a2618;
  color: #fff;
}
